body {
  background-color: #f5e8c7;
}

h1 {
  color: #7895b2;
}

h3 {
  color: #7895b2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #2c3333;
  border-width: 5px;
  width: 4%;
  margin-left: 100px;
}
