.background {
  position: relative;
}

.ferhat1 {
  position: relative;
  bottom: 1250px;
  left: 120px;
}

.baslik {
  position: relative;
  font-family: "Montserrat", sans-serif;
  bottom: 1480px;
  left: 500px;
  font-size: 35px;
  text-align: left;
  padding: 0px 20px;
}

.baslik2 {
  position: relative;
  bottom: 1300px;
  left: 110px;
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
  width: 500px;
  height: 88px;
}

body {
  background-color: white;
  margin-top: 0px;
  margin-left: 0px;
}

h1 {
  color: #21325e;
}

h2 {
  color: #21325e;
}

h3 {
  color: #21325e;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #2c3333;
  border-width: 5px;
  width: 4%;
  margin-left: 100px;
}

.baslik3 {
  position: relative;
  bottom: 1280px;
  left: 110px;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

.btn {
  position: relative;
  bottom: 1260px;
  left: 180px;
  font-size: 20px;
  width: 180px;
}
.btn {
  background: #000305;
  background-image: -webkit-linear-gradient(top, #000305, #949494);
  background-image: -moz-linear-gradient(top, #000305, #949494);
  background-image: -ms-linear-gradient(top, #000305, #949494);
  background-image: -o-linear-gradient(top, #000305, #949494);
  background-image: linear-gradient(to bottom, #000305, #949494);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: white;
}

.btn:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  text-decoration: none;
}
